/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --background-color-accent: #FF0070;

  --decorations-color: #FF0070;
  
  --page-title-color: #DB00FF;
  --page-title-color-shadow: #FF0070;
  --text-color: #F1B2CE;
  --text-color-accent: #000028;
  --text-color-headline: #FF0070;
  
  --button-color-text: #FF0070;
  --button-color-focus: #FF0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --button-color-active: #FF0070;

  --link-color-text: #F1B2CE;
  --link-color-shadow: #FF0070;
  --link-color-focus: #F1B2CE;
  --link-color-hover: #F1B2CE;
}

.theme-dark .header__rec-bulb {
  display: block;
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
