/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-color: var(--background-color);
}

.page__contents {
  display: flex;
  flex-direction: column;
  gap: var(--page-contents-gap);
}

.page__plain-text {
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
}

.page__headline-text {
  font-weight: bold;
  color: var(--text-color-headline);
}

.page__accent-text {
  background-color: var(--background-color-accent);
  color: var(--text-color-accent);
}

.page__title-text {
  font-size: var(--page-title-font-size);
  line-height: 82.5%;
  color: var(--page-title-color);
  text-shadow: 4px 4px var(--page-title-color-shadow);
}

.header {
  block-size: max(100vh, 668px);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: var(--page-inline-offset);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: var(--page-block-offset);
  right: var(--page-inline-offset);
  block-size: 25px;
  inline-size: 25px;
  border-inline-end: 1px solid var(--decorations-color);
  border-block-start: 1px solid var(--decorations-color);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: var(--page-block-offset);
  left: var(--page-inline-offset);
  block-size: 25px;
  inline-size: 25px;
  border-inline-start: 1px solid var(--decorations-color);
  border-block-end: 1px solid var(--decorations-color);
}

.header__rec-bulb {
  position: absolute;
  color: var(--decorations-color);
  top: var(--page-block-offset);
  right: var(--page-inline-offset);
}

.header__rec-bulb::after {
  content: '';
  width: 9px;
  height: 9px;
  display: inline-block;
  background-color: var(--decorations-color);
  margin: 0 10px 2px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorations-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  inline-size: min-content;
  display: flex;
  flex-direction: column;
  gap: var(--theme-menu-gap);
}

.header__theme-menu-button {
  appearance: none;
  padding: var(--button-padding);
  text-transform: lowercase;
  color: var(--button-color-text);
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--button-color-focus);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color-active);
  pointer-events: none;
}

.header__description {
  justify-self: end;
  inline-size: clamp(355px, 50%, 491px);
}

.page__sections {
  display: flex;
  flex-direction: column;
  gap: var(--page-sections-gap);
}

.content-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0px var(--page-inline-offset) 0;
}

.content-section__contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-section__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery {
  padding: 0 var(--page-inline-offset) 0;
}

.gallery__contents {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gallery-gap);
  padding-top: var(--page-block-offset);
}

.gallery__image {
  width: 100%;
}

.footer {
  block-size: max(100vh, 668px);
  display: grid;
  grid-template-columns: 1fr;
  align-content: center;
  justify-items: center;
  height: 100vh;
}

@media (width >= 768px) {
  :root {
    --page-title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --page-inline-offset: 20px;
    --page-block-offset: 20px;
    --page-contents-gap: 60px;
    --page-sections-gap: 80px;
    --gallery-gap: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
  }

  .content-section {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .content-section__contents {
    grid-column-start: span 2;
    padding-left: 7px;
  }
  
  .causes-section .content-section__contents {
    grid-column-start: span 3;
    padding-left: 0;
  }

  .gallery__contents {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__image {
    height: 100%;
    object-fit: cover;
  }

  .gallery__image:first-child {
    grid-column-start: span 2;
  }

  .gallery__image:nth-child(2) {
    grid-row-start: span 2;
  }

  .gallery__image:nth-child(3) {
    grid-row-start: span 2;
  }

  .gallery__image:last-child {
    grid-column-start: span 2;
  }
}

@media (width >= 1024px) {
  :root {
    --theme-menu-gap: 12px;
    --button-padding: 0 12px 0;
  }
  
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content-section__contents {
    padding-left: 0;
  }

  .causes-section .content-section__contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
